/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.navBarFooter {
  background-color: black;
  width: 100%;
  color: white;
  height: 70px;
}
